/env
~/env/
env/
/backend/__pycache__
/backend/__pycache__/
/backend/api/__pycache__
/backend/api/__pycache__/
/backend/api/.env

backend/api/routes/__pycache__/
backend/api/routes/admin/__pycache__/
backend/api/routes/user/__pycache__/
backend/api/routes/product/__pycache__/
backend/api/routes/cart/__pycache__/
backend/api/routes/products/__pycache__/
backend/api/routes/brand/__pycache__/
backend/api/routes/category/__pycache__/
backend/api/models/__pycache__/
